/urbosa/node_modules/
/urbosa/semantic/
/urbosa/assets/dist/
/urbosa-cb/node_modules/
/urbosa-cb/dist/
/node_modules/
/wp/
/logs/
/db/*
/dist/
/urbosa/inc/acf/json/backup/*.json
/urbosa/inc/acf/json/copy/*.json
