#wp-admin-bar-urbosa-theme-status,#wp-admin-bar-urbosa-theme-status-live{
  a{
    padding: 0 .5rem!important;
    letter-spacing: .1em!important;
  }
}
#wp-admin-bar-urbosa-theme-status{
  background-color: #444!important;
  a:hover{
    color: white!important;
    background-color: #444!important;
  }
}
#wp-admin-bar-urbosa-theme-status-live{
  background-color: green!important;
  a:hover{
    color: white!important;
    background-color: green!important;
  }
}
*, :after, :before{box-sizing: initial;}

