@import './theme';
@import './fonts';
@import './mixins';

.urbosa-block{
  &.cb_content_panel{
    &::before{ padding-bottom: 20%;}
    /* content-holder */
    .image-left, .image-right{
      height: 100%;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-position-y: bottom;
      bottom: 0;
      transition: opacity .5s ease-in;
      z-index: 5;
      opacity: 1;
      pointer-events: none;
    }
    .image-left{
      background-position-x: left;
      left: 0%;
    }
    .image-right{
      background-position-x: right;
      right: 0%;
    }
    .content-holder{
      overflow: hidden;
      position: relative;
    }
    /* actual content container */
    .content-wrapper{
      height: 100%;
      width: 100%;
      display: flex;
    }
  }

  &.cb_theme_slider {
    padding:0;
    &.admin{ overflow: hidden;}
    /* slick-sliders */


    /* each-slider */
    .each-slider{
      .actual-content{
        height: 100%;
        width: 100%;
        
        /* video type */
        .video-wrapper{ 
          z-index: 5;
          width: 100%;
          height: 100%;
          background-color: black;
          position: relative;
          video.full{ width: 100%;}
        }
        .video-wrapper.mobile{ display: none;}
        .video-wrapper.desktop{ display: block;}

        .youtube-wrapper.mobile{ display: none;}
        .youtube-wrapper.desktop{ display: block;}

      }
    }
  }
}

/* desktop */
@media (min-width: 1025px){}
/* tablet */
@media (max-width: 1024px){}
/* mobile */
@media (max-width: 768px){
  &.urbosa-block{
    &.cb_theme_slider {
      /* each-slider */
      .each-slider{
        .actual-content{

          /* video-type */
          .video-wrapper {
            video{
              width: 100%;
              top: 0;
              left:0;
              transform: initial;
            }
          }
          .video-wrapper.mobile{ display: block;}
          .video-wrapper.desktop{ display: none;}


          .youtube-wrapper.mobile{ display: block;}
          .youtube-wrapper.desktop{ display: none;}
  
  
          /* image-type */
        }

      }
    }
  }
}
