@import './theme';
@import './fonts';
@import './mixins';


.urbosa-block{
  min-height: 300px;

  &.cb_content_panel{
    &::before{ padding-bottom: 20%;}
    /* content-holder */
    .image-left, .image-right{
      height: 100%;
      width: 100%;
      position: absolute;
      background-repeat: no-repeat;
      background-position-y: bottom;
      bottom: 0;
      transition: opacity .5s ease-in;
      z-index: 5;
      opacity: 1;
      pointer-events: none;
    }
    .image-left{
      background-position-x: left;
      left: 0%;
    }
    .image-right{
      background-position-x: right;
      right: 0%;
    }
    .content-holder{
      overflow: hidden;
      position: relative;
    }
    /* actual content container */
    .content-wrapper{
      height: 100%;
      width: 100%;
      display: flex;
    }
  }

  &.cb_theme_slider {
    padding:0;
    &.admin{ overflow: hidden;}


    /* each-slider */
    .each-slider{
      outline: none;
      .actual-content{

        position: relative;
        height: 100%;
        width: 100%;

        /* content text */
        .content-wrapper{
          display: flex;
          position: absolute;
          z-index: 6;
          color: white;
          text-shadow: 1px 1px 2px rgba(0,0,0,.5);
          width: 100%;
          height: 100%;
          font-size: calc(1.5vw + 0.5rem);
          *{ color: white; }
          .the_content{
            padding: 3rem;
            min-width: 50%;
          }
          &.topcenter{ justify-content: center;}
          &.topright{justify-content: flex-start;}

          &.left,&.center,&.right{
            align-items:  center;
          }
          &.left{ justify-content: flex-start;}
          &.center{  justify-content: center;}
          &.right{justify-content: flex-end;}

          &.bottomleft,&.bottomcenter,&.bottomright{
            align-items: flex-end;
          }
          &.bottomcenter{justify-content: center;}
          &.bottomright{justify-content:flex-end;}


        }
        
        /* video type */
        .video-wrapper{ 
          z-index: 5;
          width: 100%;
          height: 100%;
          background-color: black;
          position: relative;
          video.full{ width: 100%;}
        }



        /* image type */
        .image-wrapper {
          position: relative;
          z-index: 5;
          background-color: white;
          width: 100%;
          height: 100%;
          @include bg_cover;
          img {
            width: 100%;
          }
          .simpleParallax{
            position: absolute;
          }
        }

        .youtube-lightbox{
          width: 100%;
          z-index: 1;
          position: absolute;
          height: 100%;
          cursor: pointer;
          outline: none;
          top: 0;
        }


        .mobile{ display: none;}
        .desktop{ display: block;}

        .light-box{
          cursor: pointer;
        }
      }

    }


    .no-resource-set{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.cb_repeater_posts{
    /* style */
    .title{font-weight: bold;font-size: 1.5rem;}
    a,img{ display: block; }
    img { width:100%; height: 100%; object-fit: cover;}
    >.split{
      .image{
        width: 80%;
        margin: 0 auto;
      }
      &.alternate{
        >.column:nth-child(even){
          flex-direction: row-reverse;
        }
      }
    }

    >.default{

    }
  }
}

/* desktop */
@media (min-width: 1025px){}
/* tablet */
@media (max-width: 1024px){}
/* mobile */
@media (max-width: 768px){
  &.urbosa-block{
    &.cb_theme_slider {
      /* each-slider */
      .each-slider{
        .actual-content{

          /* content-wrapper */
          .content-wrapper{
            .the_content{
              width: 100%;
            }
            &.topleft,&.topcenter, &.topright,
            &.left, &.center,&.right,
            &.bottomleft, &.bottomcenter, &.bottomright{
              align-items: center;
              justify-content: center;
            }
          }

          /* video-type */
          .video-wrapper {
            video{
              width: 100%;
              top: 0;
              left:0;
              transform: initial;
            }
          }

          /* image-type */
          .poster{
            position: absolute;
            top: 0px;
            pointer-events: none;
          }
          .mobile{ display: block;}
          .desktop{ display: none;}
        }

      }
    }
  }
}
