@import '../../lib/slick/slick.min.css';

/* Youtube Video Background */
.video-background { background: #000; top: 0; right: 0; bottom: 0; left: 0;}
  .video-foreground, .video-background iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 301%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 301%; left: -100%; }
}

/* YouTube Video Normal */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%;}
  .video-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

/* html5 video background */
.html5-video-container{ overflow: hidden; position: relative; height: 100%;}
  .html5-video-container video{  min-width: 100%;  min-height: 100%;  height: auto; width: auto; top: 50%; left: 50%;  position: absolute;  transform: translateX(-50%) translateY(-50%);}

/* image behave like background */
.img-bg { position: relative; overflow: hidden; transition: all .3s ease-in-out;}
  .img-bg.contain img { position: absolute; left:-10000%; right: -10000%;  top: -10000%; bottom: -10000%; margin: auto auto; max-width: 10%; max-height: 10%; -webkit-transform:scale(10); transform: scale(10); }
  .img-bg.cover img { position: absolute; left:-10000%; right: -10000%;  top: -10000%; bottom: -10000%; margin: auto auto; min-width: 1000%; min-height: 1000%; -webkit-transform:scale(0.1); transform: scale(0.1); }

/* 
  Maintaining aspect ratio wrapping long content
*/
.ratio { width: 100%; position: relative; max-height: calc(100vh - #{$heightHeader});}
.ratio:not(.force)::after { clear: left; content: " "; display: block; }
.ratio:not(.force)::before { content: ""; float: left; }
.ratio:not(.force).wide::before { padding-bottom: 56.25%; }
.ratio:not(.force).square::before { padding-bottom: 100%; }
.ratio:not(.force).tv::before { padding-bottom: 75%; }
.ratio:not(.force).small::before { padding-bottom:  66.6%; }
.ratio:not(.force).strip::before { padding-bottom: 62.5%; }

/* for forcing ratio with child position absolute */
.ratio.force { overflow: hidden; height:0;}
.ratio.force>*{position: absolute;height: 100%; }
.ratio.force.wide { padding-bottom: 56.25%; }
.ratio.force.square { padding-bottom: 100%; }
.ratio.force.tv { padding-bottom: 75%; }  
.ratio.force.small { padding-bottom:  66.6%; }
.ratio.force.strip { padding-bottom: 62.5%; }

/* Slick theme */
.slick-sliders{ width:100%; height: 100%; position: relative; }
  .slick-sliders >div,.slick-sliders >div>div {  height: 100%; z-index: 1; outline: none;}
  .slick-sliders .slick-arrow{font-size: 2rem;color: white; cursor: pointer; position: absolute; top: calc(50% - 1em); display: block; z-index: 2;}
  .slick-sliders.slick-dotted .slick-arrow{ top: calc(50% - 25px); height: calc(2vw + 1rem); width: calc(2vw + 1rem); line-height: 1rem; }
  .slick-sliders.slick-dotted span.slick-arrow{ font-size: calc(2vw + 2rem); }
  .slick-sliders.slick-dotted span.slick-prev{ top: calc(50% - 27px); }
  .slick-sliders .slick-nav-prev,
  .slick-sliders .slick-prev
  { left: 1rem;  right: auto; transform: rotate(180deg);}

  .slick-sliders .slick-nav-next, 
  .slick-sliders .slick-next{ 
    left: auto; right: 1rem;
  }
  .slick-sliders .slick-dots{ height: 25px; margin: 0; padding: 0; list-style: none; display: flex; width: 100%; text-align: center; justify-content: center; align-items: center;}
  .slick-sliders .slick-dots li{ display: inline-block; overflow: hidden; width: 10px; height: 10px; border-radius: 50%; margin: 0 .5em;       }
  .slick-sliders .slick-dots button{ border: none; outline: none; cursor: pointer; text-indent: 999%;}
  .slick-sliders .slick-dots li button{ background-color: #bbb; line-height: initial; display: block;}
  .slick-sliders .slick-dots li.slick-active button{ background-color: #aaa;}
  .slick-sliders .slick-dots button:hover{ background-color: #aaa;}

/* animated underline  */
  a.urbosa.underline{  display: inline-block;  position: relative; text-decoration: none; padding-bottom: .5em; }
  a.urbosa.underline:after{background: none repeat scroll 0 0 transparent;bottom: 0;content: "";display: block;height: 2px;left: 50%;position: absolute;background: white;transition: width 0.3s ease 0s, left 0.3s ease 0s;width: 0;}
  a.urbosa.underline:hover:after{ width: 100%;  left: 0;  }

  /* 
    ---- Slide Out Menu ----
    Style your menu container first to desired results if sliding from left, position it to the right and vise-versa
    Usage: Change the main container selector
  */

  #menu-container {
    position: relative;
    ul,li { padding: 0; margin: 0; list-style: none;}
    .sub-menu{ display: none;}

    >div{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      transition: all .4s linear;
      transition-property:  right , left;
    }
    >div.left{ right: 0%;}
    >div.right{ left: 0%;}
    >div:not(.level){
      position: relative;
      background-color: white;
    }
    >div.level ul{
      display: none;
    }
    >div.level ul.open{
      display: block;
    }
    a{ display: inline-block;}
  }

