.urbosa.icon{

  width: 1.9em;
  height: 1.9em;
  display: inline-block;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;

  &.default{
    -webkit-mask-image: url('../../img/icons/myicon.svg');
    mask-image: url('../../img/icons/myicon.svg');
  }
}