@import '../../lib/semantic-ui/semantic.min.css';
@import './theme';
@import './bulma';
@import './fonts';
@import './mixins';
@import './boiler';
@import './icons';

/* admin */
#wp-admin-bar-urbosa-theme-status,#wp-admin-bar-urbosa-theme-status-live{
  a{
    padding: 0 .5rem!important;
    letter-spacing: .1em!important;
  }
}
#wp-admin-bar-urbosa-theme-status{
  background-color: #444!important;
  a:hover{
    color: white!important;
    background-color: #444!important;
  }
}
#wp-admin-bar-urbosa-theme-status-live{
  background-color: green!important;
  a:hover{
    color: white!important;
    background-color: green!important;
  }
}
.wp-block.is-reusable { max-width: 100%!important;}

/* front-end */
.urbosa.container, main>*{
  max-width: $contentCorridorMaxWidth;
  padding: 0 $globalPadding;
  margin: 0 auto;
}
main>p{
  margin-left: auto;
  margin-right: auto;
}
main{
  >.alignfull { max-width: 100%; padding: 0;}
  >.alignwide { max-width: $contentCorridorMaxWidthWide;}
}
@media (max-width: 768px){
  main{
    >.alignwide { max-width: 100%;}
  }
}

.limit {
  &.wrap-300{
    max-width: 300px;
  }
  &.wrap-350{
    max-width: 350px;
  }
  &.wrap-400{
    max-width: 400px;
  }
  &.wrap-500{
    max-width: 500px;
  }
}
