@import '../../lib/semantic-ui/semantic.min.css';
@import './theme';
@import './bulma';
@import './fonts';
@import './mixins';
@import './boiler';
/* admin */
#wp-admin-bar-urbosa-theme-status,#wp-admin-bar-urbosa-theme-status-live{
  a{
    padding: 0 .5rem!important;
    letter-spacing: .1em!important;
  }
}
#wp-admin-bar-urbosa-theme-status{
  background-color: #444!important;
  a:hover{
    color: white!important;
    background-color: #444!important;
  }
}
#wp-admin-bar-urbosa-theme-status-live{
  background-color: green!important;
  a:hover{
    color: white!important;
    background-color: green!important;
  }
}

/* front-end */
.urbosa.container, main>*{
  max-width: $contentCorridorMaxWidth;
  padding: 0 $globalPadding;
  margin: 0 auto;
}
main{
  >.alignfull { max-width: 100%;}
  >.alignwide { max-width: 80%;}
}
@media (max-width: 768px){
  main{
    >.alignwide { max-width: 100%;}
  }
}
