/* common */
$contentCorridorMaxWidth: 800px;
$contentCorridorMaxWidthWide: 1000px;
$contentCorridorMaxWidthSmall: 700px;
$contentCorridorMaxWidthNarrow: 600px;
$globalPadding: 1rem;
$fontSize: 16px; 
$heightHeader: 100px;
$heightMobileHeader: 85px;
$borderRadius: 10px;

/* colours */
$primaryColor: #000;
$secondaryColor: #fff;
$thirdColor: red;
$textColor: #000;

/* bulma */
$linkColor: #000;
$body-line-height: 1;