/* common */
$contentCorridorMaxWidth: 1000px;
$globalPadding: 1rem;
$fontSize: 16px; 
$heightHeader: 120px;
$heightMobileHeader: 85px;

/* colours */
$primaryColor: #000;
$secondaryColor: #fff;
$thirdColor: red;
$textColor: #000;
$linkColor: #000;
