/* common */
$contentCorridorMaxWidth: 1200px;
$contentCorridorMaxWidthWide: 1000px;
$contentCorridorMaxWidthNarrow: 800px;
$contentCorridorMaxWidthSmall: 600px;
$globalPadding: 1rem;
$fontSize: 16px; 
$heightHeader: 0px;
$heightMobileHeader: 85px;

/* colours */
$primaryColor: #000;
$secondaryColor: #fff;
$thirdColor: red;
$textColor: #000;

/* bulma */
$linkColor: #000;
$link: #0073aa;
$body-line-height: 1;